* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

#main_container {
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(96, 221, 243), rgb(25, 102, 175));
}

    #main_title {
        color: white;
    }

    #reg_box {
        display: inline-block;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        text-align: center;
    }

        #reg_btn {
            border: 1px solid white;
        }

    #login_link {
        display: block;
        color: white;
        text-decoration: underline;
    }
    